body {
    font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background:  #FFFFFF;
}

.signUp {
    position: relative;
    margin: 50px auto;
    width: 280px;
    padding: 33px 25px 29px;
    background: #FFFFFF;
    border-bottom: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.signUp:before,
.signUp:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 10px;
    background: inherit;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 4px;
}

.signUp:after {
    bottom: 3px;
    border-color: #DCDCDC;
}


input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signUpInput, .buy-button-1 {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #EBEBEB;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #EBEBEB;
    box-shadow: inset 0 -2px #EBEBEB;
}

.signUpButton, .buy-button-1 {
    margin-bottom: 10px;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.signUpButton:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}