{% extends 'common/base.html' %}
{% block title %}로그인 - 멋블리{% endblock %}
{% load django_bootstrap5 %}
{% block content %}
    <h4>로그인</h4>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Login" %}
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'register' %}">회원 가입</a></p>
    <p><a href="{% url 'recovery' %}">아이디 찾기</a></p>
{% endblock %}