{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <div class="gap-5">
        <div class="p-1">
            <button type="submit" class="btn btn-primary w-full">
                작성
            </button>
        </div>
    </div>
    {% endbuttons %}
</form>
{% endblock %}
