<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>{% block page_name %}{% endblock page_name %}</title>
    <link rel="stylesheet" href='{% static 'tailwind.output.css' %}'>
    <link rel="stylesheet" href='{% static 'common.css' %}'>
</head>
<body>
    <header>
        {% include "partials/nav.html" %}
        {% block search-bar %}
            <form method="get" action='{% url 'clothes:search' %}'>
                <button>원하는 옷 검색</button>
            </form>
        {% endblock search-bar %}
    </header>
    {% block content %}{% endblock content %}
    <footer class= t-bg-red-500>
        &copy; Subbly
    </footer>
</body>
</html>