{% extends 'base.html' %}
{% block content %}

<div class="main-body">
    <div>
        <input name="query" type="text">
        <button onclick="search('{{category}}')" >검색</button>
    </div>
    <div class="card-container">
        {% for item in prod_list %}
        <div class="card" onclick="detailInfo(this)" category="{{category}}" id="{{item.id}}">
            <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.price}}</h5>
                <p class="card-text">{{item.prodname}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function search(cate){
        var query = $("input[name=query]").val();
        $.ajax({
            type:'POST',
            url:'search/',
            data:{
                'query':query,
                'category':cate,
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },
            success:function(data){
                console.log(data);
            }
        });
    }
    function detailInfo(item){
        var category = $(item).attr('category');
        var id = $(item).attr('id');
        var url = '/'+ category + '/product/'+ id;
        window.location.href=url;
    }
</script>

{% endblock %}