{% extends 'base.html' %}
{% block content %}
<div>
    <form method='POST' action="{% url 'qna' category=category id=id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="form-group row">
            <label for="writer" class="col-sm-2 col-form-label">작성자</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="writer" name="writer" value="{{request.user.username}}">
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="exampleInputEmail1">작성자</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> -->
        <div class="form-group">
            <label for="contents">문의 내용</label>
            <input type="text" name="contents" class="form-control" id="contents">
            <!-- <textarea class="form-control" id="contents" name="contents" rows="3"></textarea> -->
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
      </form>
</div>
{% endblock %}