<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Detail</title>
</head>

<body>
    <div class='w-3/4 h-auto text-sm text-center rounded-lg mx-auto my-auto p-2'>
        <a href="/detail">
            <img src="https://picsum.photos/200" alt="" class="m-auto my-4">
            <div class='font-semibold'></div>
            {{sangpums.obj_name}}
            <br />
            <div class="text-gray-500">
                {{sangpums.discount_price}} 원
            </div>
            <div class="text-gray-500">
                {{sangpums.obj_color}}
            </div>
            <div class="text-gray-500">
                {{sangpums.obj_size}}
            </div>
        </a>
        <div class="flex-auto flex space-x-4 my-4">
            <button class="h-10 px-6 font-semibold rounded-md bg-indigo-500 text-white text-xs" type="submit">
                Buy now
            </button>
            <button class="h-10 px-6 font-semibold rounded-md border border-gray-200 text-gray-900 text-xs"
                type="button">
                Add to bag
            </button>
        </div>
    </div>
    <br />
</body>

</html>