{% load bootstrap4 %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="text-gray-900 text-7xl w-20 m-10">
    <a href="../main">
        <div>✓</div>
    </a>
</div>


<div>
    <div class="w-full text-center text-6xl font-semibold mt-52 mb-32">
        로그인
    </div>
    <div class="w-4/5 text-5xl">
        <form action="" method="POST" class="w-full mx-20 text-5xl">
            {% csrf_token %}
            <div class="flex flex-col space-y-6 mb-10">
                <label for="id" class="font-gray-900 ">아이디</label>
                <input type="text" placeholder="아이디" name="id"
                    class="w-full h-24 rounded-2xl border-4 border-gary-900 pl-10">
            </div>

            <div class="flex flex-col space-y-6 mb-10">
                <label for="pw" class="font-gray-900 ">비밀번호</label>
                <input type="text" placeholder="비밀번호" name="pw"
                    class="w-full h-24 rounded-2xl border-4 border-gary-900 pl-10">
            </div>

            <button type="submit" class='bg-indigo-300 text-white text-5xl rounded-2xl w-full h-28 drop-shadow-md p-4'>
                Login
            </button>
        </form>
    </div>
</div>



<!-- <h1>로그인</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>  -->


<!-- <h1>로그인 페이지</h1>

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<h1>Login</h1>

<form method="POST" action="{% url 'login'%}">
    {% csrf_token %}
    id:
    <br>
    <input name="id" type="text" value="">
    <br>
    pw:
    <br>
    <input name="pw" type="password" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
</form> -->