<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Main</title>
</head>


<div class="flex flex-col w-3/4 h-auto mx-auto my-10 text-center text-white text-xl">
    <a href="../main">
        <div class="w-full h-20 mb-5 bg-indigo-300 rounded-lg pt-6 drop-shadow-lg">Main</div>
    </a>
    <a href="../login">
        <div class="w-full h-20 mb-5 bg-indigo-300 rounded-lg pt-6 drop-shadow-lg">Login</div>
    </a>
    <a href="../join">
        <div class="w-full h-20 mb-5 bg-indigo-300 rounded-lg pt-6 drop-shadow-lg">Join</div>
    </a>
    <a href="../top">
        <div class="w-full h-20 mb-5 bg-indigo-300 rounded-lg pt-6 drop-shadow-lg">Shopping</div>
    </a>
    <a href="../search">
        <div class="w-full h-20 mb-5 bg-indigo-300 rounded-lg pt-6 drop-shadow-lg">Search</div>
    </a>
</div>