{% extends 'common/base.html' %}
{% block title %}주문/결제 - 멋블리{% endblock %}
{% block head %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
{% endblock %}
{% block content %}
    <h4>주문/결제</h4>
    <p>결제 진행 중입니다.</p>
    <p>결제가 진행되지 않는다면? <span onclick="request()" class="btn btn-link">다시 시도 하기</span></p>
{% endblock %}
{% block body_end %}
    <script>
        request();

        function request() {
            const IMP = window.IMP;
            IMP.init("imp44399565");
            IMP.request_pay({
                pg: '{{ pg }}',
                pay_method: '{{ pay_method }}',
                merchant_uid: '{{ order_id }}',
                name: '{{ name }}',
                amount: '{{ amount }}',
                buyer_name: '{{ buyer_name }}',
                buyer_email: '{{ buyer_email }}',
                buyer_tel: '{{ buyer_tel }}'
            }, (rsp) => {
                console.log(rsp);
                if (rsp.success) {
                    location.href = `{% url "verify" %}?receipt_id=${rsp.imp_uid}&order_id={{ order_id }}`;
                } else {
                    alert(rsp.error_msg);
                }
            });
        }
    </script>
{% endblock %}