{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }


</style>
    <div class="container">
        <div>
            <img src="https://picsum.photos/id/237/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/id/200/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/id/100/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/id/10/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/300" alt="">
        </div>
        <div>
            <img src="https://picsum.photos/200/450" alt="">
        </div>


    </div>

<script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}