{% extends 'base.html' %}

{% block content %}
<br>
<div class="row justify-content-around">
  <div class="card border-info mb-3" style="max-width: 18rem; text-align: center;">
    <div class="card-header"><h3>상품 등록</h3></div>
    <div class="card-body">
        <form action="{% url 'main:productCreate' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <p>상품명 <input type="text" name="name"></p>
            <p>마켓명 <input type="text" name="marcket"></p>
            <p>상품 가격 <input type="number" name="price" min="0"></p>
            <!-- <p>재고 수량 <input type="number" name="stock" min="0"></p> -->
            <p>상품 사진 <input type="file" name="image" onchange="filecheck(this)" class="btn btn-outlione-primary"></p>
            <p>상품 설명 <textarea type="text" name="description" id="" cols="30" rows="5"></textarea></p>
            <p>상품 상세 사진 <input type="file" name="detailImage" onchange="filecheck(this)" class="btn btn-outlione-primary"></p>
            <button type="submit" class="btn btn-outline-primary">등록하기</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}