{% extends "core/layout.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="topmargin">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form action="" method="POST" enctype="multypart/form-data">
                {% csrf_token %}
                <span> {% bootstrap_form form %} </span>
                {% buttons %}
                    <button type="submit" class="btn btn-primary col-sm-6 offset-sm-3">
                        상품문의
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}