/* base */
:root{
    --background-color: #F0ECE3;
    --header-color: #DFD3C3;
    --hover-color:#b39f71;
    --font-color : #50514F;
    --font-hover: #313231;
}
body{
    background-color: var(--background-color);
}
.main-container{
    margin : 50px 10%; 
    min-height:calc(100vh - 340px);
}
a{
    text-decoration: none;
    color: var(--font-color);
}
a:hover{
    color:var(--font-hover);
}
/* header */
header{
    height: 120px;
    padding : 20px 30px;
    background-color: #DFD3C3;
}
.header_top{
    display: flex;
    justify-content: space-between;
}
.main-body{
    width:80%;
    margin:auto;
}
/* footer */
footer{
    position:relative;
    width:100%;
    height: 120px;
    top:0;
    background-color: #DFD3C3;
}
.copyright{
    width : fit-content;
    margin:auto;
    padding : 35px 0;
}

/* item-list.html */
.card-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.card{
    width: 250px;
    margin:10px;
}