{% extends 'product/base.html' %}
{% load static %}
{% block style %}
    .tabs {
      margin-top: 50px;
      padding-bottom: 40px;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin: 0 auto;
    }

    /* 탭 스타일 */
    .tab_item {
      width: calc(100%/2);
      height: 50px;
      border-bottom: 3px solid #333333;
      background-color: #f8f8f8;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
      color: #333333;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
    }

    .tab_item:hover {
      opacity: 0.75;
    }

    /* 라디오 버튼 UI삭제*/
    input[name="tab_item"] {
      display: none;
    }

    /* 탭 컨텐츠 스타일 */
    .tab_content {
      display: none;
      padding: 40px 40px 0;
      clear: both;
      overflow: hidden;
    }


    /* 선택 된 탭 콘텐츠를 표시 */
    #detail:checked ~ #detail_content,
    #qna:checked ~ #qna_content {
      display: block;
    }

    /* 선택된 탭 스타일 */
    .tabs input:checked + .tab_item {
      background-color: #333333;
      color: #fff;
    }

    #result {
        pointer-events: none;
    }
{% endblock %}

{% block script %}
          function count(type)  {
          // 결과를 표시할 element
          const resultElement = document.getElementById('result');

          // 현재 화면에 표시된 값
          // let number = resultElement.innerText;
          let number = resultElement.value;

          // 더하기/빼기
          if(type === 'plus') {
              if(parseInt(number) === 999) {
                number = 999;
                alert('최대 수량을 초과하셨습니다.');
                }
                else{
                number = parseInt(number) + 1;
                }
          }else if(type === 'minus')  {
          if(parseInt(number) === 1) {
            alert('최소 수량입니다.');
            number = 1;
            }
            else{
            number = parseInt(number) - 1;
            }
          }

          // 결과 출력
          //resultElement.innerText = number;
          resultElement.value = number;
        }
{% endblock %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
        <div class="p-2 col">
            <image src="{{ product.main_image.url }}" style="width:100%;"></image>
        </div>
        <div class="p-2 col">
            <h2> {{ product.product_name }} </h2>
            <h2> {{ product.product_price }} 원</h2>
            <form method="POST">
                {% csrf_token %}
                <select class="form-select" name="option">
                    <option value="None" selected>---선택---</option>
                    {% for item in option_list %}
                    <option value="{{ item.id }}" {% if item.stock == 0 %}disabled{% endif %}>{{ item.color }} {{ item.size }}  남은수량: {{ item.stock }}</option>
                    {% endfor %}
                </select>
                <br>
                <div class="mb-3">
                    <input type='button' class="btn btn-outline-dark" onclick='count("minus")' value='-'/>
                    <input type='text' class="form-control w-50 d-inline-block" id='result' name="cnt" value="1"/>
                    <input type='button' class="btn btn-outline-dark" onclick='count("plus")' value='+'/>
                </div>
                <input type="submit" value="장바구니 추가" formaction="{% url 'product:add_cart' product.id %}">
                <input type="submit" value="바로결제" formaction="{% url 'product:pay' %}">
            </form>
        </div>
    </div>
</div>

<hr>
<div class="tabs">
    <input id="detail" type="radio" name="tab_item" checked>
    <label class="tab_item" for="detail"> 상세설명 </label>
    <input id="qna" type="radio" name="tab_item">
    <label class="tab_item" for="qna"> QnA </label>
    <div class="tab_content" id="detail_content" style="text-align:center;">
        <p>제품 상세 설명</p>
        <image src="{{ product.detail_image.url }}"></image>
        <p>제품 설명입니다~!</p>
    </div>
    <div class="tab_content" id="qna_content">
        {% include 'product/board.html' %}
    </div>
</div>

{% endblock %}