{% extends 'product/base.html' %}
{% load static %}
{% block content %}
<form method="POST" action="{% url 'product:search' %}" style="margin-left: 20px;">
    {% csrf_token %}
    <select name="classification">
        <option value="product" selected >상품</option>
        <option value="brand">브랜드</option>
    </select>
    <input type="text" placeholder="검색어를 입력해주세요" name="search_word">
    <input type="submit" value="검색">
</form>
<hr>
{% if search_list.paginator.count == 0 %}
<p style="margin-left: 20px;"> 검색 결과가 없습니다. </p>
{% else %}
<p style="margin-left: 20px;"> 검색 결과가 {{ search_list.paginator.count }} 건 입니다.</p>
<div class='container'>
  {% for item in search_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
<!--    <div class="product" style="width:20%; height:20%; border-radius:5px; background-color:gray;">-->
        {% if classification == 'product' %}
            <div class="col">
                <div class="card shadow-sm">
                    <image src="../../static/image_dir/main_image/{{ item.product_id }}.jpg"></image>
                <div class="card-body">
                  <span class="cost"> {{ item.product_price }}</span><br>
                  <span class="shop_name">{{ item.shop_id.shop_name }}</span><br>
                  <span class="product_name"><a href="{% url 'product:detail' item.product_id %}">{{ item.product_name }}</a></span>
                </div>
              </div>
            </div>
        {% else %}
        <span class="shop_name"> {{ item.shop_name }} </span>
        {% endif %}
    </div>
  {% endfor %}
</div>
<!--Pagination-->
<div style="text-align:center">
    <div class="pagination">
        <div style="width:30%; margin:5px auto;">
            {% for page in search_list.paginator.page_range %}
                {% if page == search_list.number %}
                    <span style="font-weight:bold;">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


{% endblock %}