<html lang="ko">
    <head>
        {% block title %}
        <title>M-BLY</title>
        {% endblock title %}

        {% block meta %}
        <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        {% endblock meta %}

        {% block scripts %}
        {% endblock scripts %}

        {% block css %}
        {% endblock css %}
    </head>
    <body>
    {% block content %}
    <br>
    {% endblock content %}
    </body>
</html>
