{% extends 'base.html' %}
{% block content %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <div class="gap-5">
        <div class="p-1">
            <button type="submit" class="btn btn-primary w-full">
                로그인
            </button>
        </div>
        <div class="p-1">
            <input type="button" value="회원 가입" class="btn btn-primary w-full" onclick="location.href='/auth/sign-up'">
        </div>
        <div class="p-1">
            <input type="button" value="아이디 찾기" class="btn btn-primary w-full" onclick="location.href='/auth/find-id'">
        </div>
        <div class="p-1">
            <input type="button" value="패스워드 리셋" class="btn btn-primary w-full" onclick="location.href='/auth/password-reset'">
        </div>
        <div class="p-1">
            <input type="button" value="카카오 로그인" class="btn btn-warning w-full" onclick="location.href='/auth/kakao/signin'">
        </div>
    </div>
    {% endbuttons %}
</form>


{% endblock %}
