
# Created by https://www.toptal.com/developers/gitignore/api/django,python,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=django,python,windows


#.gitignore
*secrets.josn


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
