{% extends 'base.html' %}

{% load static %}

{%block contents %}
    <table class="table table-striped con">
        <thead>
            <tr>
                <th class="w-1/2" scope="col">상품정보</th>
                <th class="w-2/12">옵션</th>
                <th class="w-1/5" scope="col">수량</th>
                <th class="" scope="col">금액</th>
                <th class="" scope="col">총 금액</th>
            </tr>
        </thead>
        <tbody>
        {% if carts %}
            {% for cart in carts %}
                <tr>
                    <th scope="row">
                        <div class="cart-img float-left">
                            <a>
                                <img src = "/static/img/{{ cart.product_image }}" class="img-thumbnail">
                            </a>
                        </div>
                        <div>
                            {{cart.product_name}}
                        </div>

                    </th>
                    <td>
                        {{cart.opt_size}}
                    </td>
                    <td>
                        <form action="{% url 'cart:cart_add' %}" method="post">
                            {% csrf_token %}
                            <div class="narrow-select">
                                {{cart.quantity_form.quantity}}
                                {{cart.quantity_form.is_update}}
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary bg-black border-black" value="수정">
                            <button type="button" class="btn btn-primary bg-black border-black" onclick="location.href='{% url 'cart:product_remove' cart.cart_id%}'">삭제</button>
                        </form>
                    </td>
                    <td class="num">{{cart.price}}</td>
                    <td class="num">{{cart.total_price}}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>등록된 물품이 없습니다.</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}