{% extends 'base.html' %}

{% load static %}

{%block contents %}

    {% if product %}

        <img src = "{% static '{{ product.image }}' %}" height="280" width="180">
        {{ product.name }}
        {{ product.price }}
    {% else %}
        상품 없음
    {% endif %}

    {# 질문  #}

    <div>
        <p>상품 질문</p>
        <input id='name' onchange='printName()'/>
        <div id='result'></div>
    </div>
    <script>
        function printName()  {
          const name = document.getElementById('name').value;
          document.getElementById("result").innerText = name;
        }
    </script>

    {% if qnas %}
        {% for qna in qnas %}
            <div>
                {{qna.content}}
            </div>

        {% endfor %}
    {% else %}
        댓글 없음
    {% endif %}

{% endblock contents %}