{% extends 'base.html' %}

{%block contents %}

    {% if products %}
        <div class="list-box-1 con">
            <ul class="row">
                {% for product in products %}
                <li class="cell">
                    <div class="img-box" onclick="location.href='{% url 'detailProduct' product.id %}'">
                        <img src = "{{ product.image }}">
                    </div>
                    <div class="prod-price">{{product.price}}원</div>
                    <div class="prod-name">{{product.name}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        상품 없음
    {% endif %}



{% endblock contents %}