{% extends "base.html" %}


{% block header %}
  <style>
            body {
                height: 500px;
                width: 500px;
            }
        </style>

    <script>

        function createBasket(){

            {% for og in optionGroups %}
            {#alert({{  og.optionGroup }});#}
            {% endfor %}
        {% for og in optionGroups %}
            var {{ og.optionGroup }} = $('#{{ og.optionGroup }}').val();
            console.log({{ og.optionGroup }});
        {% endfor %}


          $.ajax({
            type:"POST",
            url:"/basket/{{ itemId }}",

            data:{data: $('#basketCount').val(), size : $('#size').val(), color: $('#color').val()},
            success : function(response){
                {#alert(response['access']);#}
                alert(response['message']);
                $(location).attr('href', 'http://localhost:8000/basket/mypage')
            }
    });}

      </script>

  {% endblock %}


{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form method="POST" action="/order/create/">
                        {% csrf_token %}

                        <div class="form-group">
                            {% for og in optionGroups %}
                                <h5 class="card-title">{{ og.optionGroup }}</h5>
                                {% for o in optionItems %}
                                    {% for op in o %}
                                        {% ifequal op.productOptionGroup.id og.id %}
                                            <div class="form-group">
                                                        <tbody class="text-dart">
                                                        <tr>
                                                                    <th scope="row">옵션 {{ op.optionItem }}</th>
                                                                    <th scope="row">추가가격 {{ op.addPrice }}</th>
                                                                    <th scope="row">재고 {{ op.stock }}</th>
                                                       </tr>
                                                        </tbody>
                                            </div>
                                        {% endifequal %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </div>
<!--                          {% ifnotequal field.name 'product' %}-->
<!--                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>-->
<!--                          {% endifnotequal %}-->
<!--                          <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"-->
<!--                            placeholder="{{ field.label }}" name="{{ field.name }}" value="{% ifequal field.name 'product' %}{{ product.id }}{% endifequal %}"/>-->

{#                        <button type="submit" class="btn btn-primary"></button>#}
                    </form>
                </li>
            </ul>

        </div>      
    </div>

    <div class="input-group mb-3">
        {% for og in optionGroups %}

          <label class="input-group-text" for="inputGroupSelect01">{{  og.optionGroup }}</label>

          <select class="form-select" id="{{  og.optionGroup }}">

            <option selected>Choose...</option>
               {% for o in optionItems %}
             {% for op in o %}
                 {% ifequal op.productOptionGroup.id og.id %}
            <option value="{{ op.optionItem }}">{{ op.optionItem }}</option>

                   {% endifequal %}
                                    {% endfor %}
          {% endfor %}
          </select>

    {%  endfor %}
      <input id="basketCount"  type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="수량">

          <button onclick="createBasket()" class="btn btn-outline-secondary" type="button">장바구니넣기</button>
    </div>


    <div class="row">
        <div class="col-12">
            <a href="/shop/{{ product.shop.id }}/items">목록보기</a>
        </div>
        {% for img in imgs %}
        <div>
            <img src="{{ img.img_url }}" class="card-img-top" alt="...">
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
