{% extends 'base/base.html' %}

{% block body %}
<div id="login">
    <div class="container">
        <br>
        <h3 class="d-flex justify-content-center text-secondary">KaKao Pay 결제하기</h3><br>
        <div class="row col-md text-center">
            <h4>결제를 취소하였습니다.</h4>
        </div>
        <div class="form-group col-md">
            <div class="row text-center">
                <a href="{% url 'cart' %}" class="form-control btn btn-outline-secondary">
                    뒤로가기
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}