
a:visited { color: black; text-decoration: none;}



.material-icons-outlined {
    font-size:28px;
    margin: 8px;
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.main_body {
    display: flex;
    padding: 100px;
    background-color: #FAFAFA;
    z-index: 1;
}

.item_body {
    margin-top:10px;
}

. item_box {
    margin-left:100px;
}

.item_img {
    width:250px;
    height:auto;
}

.item_first_row {
    display:flex;
    width:250px;
    flex-direction: row;
    justify-content: space-between;
}

.item_second_row {
    color:gray;
}

.item_third_row {
    color:gray;
}

.price_tag {
    margin-top:10px;
    font-size:18px;
}

.item_icon {
    margin-top:0px;
}

.floating_form {
    margin: 0px 30px;
}

.floating_label {
    margin-top: -4px;
    font-size: 14px;
}

.floating_input {
    height: 50px !important;
    padding-top: 20px !important;
    font-size: 14px !important;
}