{% extends 'base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="grid grid-cols-4 gap-3 mx-auto">
        <div class="col-span-4">
            <input name="email" type="email" class="form-control" placeholder="이메일(아이디)" id="email"/>
            <label for="email" id="emailLabel" style="display:none;">존재하지 않는 아이디입니다.</label>
        </div>
        <div class="col-span-4">
            <button type="button" class="btn w-full bg-[#0d6efd] text-white" id="submitBtn">
                패스워드 리셋
            </button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitBtn").on('click', function () {
            //TODO Send Mail
            $("#submitBtn").on('click', function () {
            $.ajax({
                'url': '/auth/password-reset/',
                'data': {'email': $("#email").val()},
                'method': 'POST',
                'success': function (data) {
                    console.log(data)
                    if (data.data == false) {
                        $("#nameLabel").show()
                    } else {
                        alert('회원님의 아이디는 ' + data.data + '입니다.')
                    }
                }
            })
        })
        })
    })
</script>

{% endblock %}