{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto">
    <div style="color:red">
        {% if messages %}
            {% for msg in messages %}
                {{ msg.message }}
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <p>
        {{ user.username }} 님의 패스워드 변경 페이지 입니다.
    </p>
    <form action="{% url 'account:change_password' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="token" value="{{ token }}">
        <input type="submit" value="변경">
    </form>
</div>

{% endblock %}