<!doctype html>
{% load static %}
{% load humanize %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>멋블리</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'tailwind.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static 'common.css' %}">
    <script defer src="{% static 'common.js' %}"></script>


</head>
<body class="t-flex t-flex-col t-min-h-screen t-pt-[56px]">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} t-my-[0px]">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main' %}"><i class="fab fa-pied-piper-hat"></i> 멋블리</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products:list' %}"><i class="fas fa-tshirt"></i> 상품리스트</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> 로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link !t-whitespace-nowrap" href="#">
                            <i class="far fa-user"></i>
                            {{user.name}}
                            {% if user.profile_img %}
                            <img src="{{ user.profile_img.url }}"
                                 style="width:24px; height:24px; object-fit:cover; border-radius:50%; display:inline-block;"/>
                            {% else %}
                            <img src="{% url 'pydenticon_image' user.username %}" style="width:24px; display:inline-block;border-radius:50%; "/>
                            {% endif %}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}?next={{request.path}}"><i
                                class="fas fa-sign-in-alt"></i> 로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:join' %}"><i class="fas fa-user-plus"></i> 회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:find_username' %}"><i class="fas fa-users"></i> 아이디찾기</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex" action="{% url 'products:list'%}">
                    <input class="form-control me-2" type="search" name="search_keyword" placeholder="상품명을 입력해주세요."
                           aria-label="Search" value="{{request.GET.search_keyword}}">
                    <button class="btn btn-outline-success t-whitespace-nowrap" type="submit">검색</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<section class="t-flex-1 t-py-[20px] t-flex t-flex-col">
    {%block content%}
    {%endblock%}
</section>

<footer class="footer py-3 bg-light">
    <div class="container t-text-center">
        <span class="text-muted"><i class="fab fa-pied-piper-hat"></i> 멋블리</span>
    </div>
</footer>

</body>
</html>