{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
    <!-- <h1>Home</h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col">
                    <div class="card" style="width: 18rem; height: 30rem; align-items: center;">
                        <div style="width:17rem; height:18rem; align-items: center;">
                            <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body" style="width: 17rem;">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">{{product.marcket}}</p>
                          <p class="card-text">{{product.description}}</p>
                          <a href="{%url 'main:productDetail' product.id %}" class="btn btn-primary btn-sm">MORE</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> -->
    <div class="container">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="card bg-light text-black">
                <img src="{% static 'images/banner.jpg' %}" class="card-img" alt="...">
                <!-- <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div> -->
              </div>
        </div>
        <hr>
        <div class="row">
            {% if product_list %}
                {% for product in product_list %}
                    <div class="card" style="width: 18rem; height: 30rem; align-items: center; margin-left: 2rem; margin-bottom: 2rem;">
                        <div style="width:17rem; height:18rem; align-items: center;">
                            <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body" style="width: 17rem;">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.marcket}}</p>
                        <p class="card-text">{{product.description}}</p>
                        <a href="{%url 'main:productDetail' product.id %}" class="btn btn-primary btn-sm">MORE</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 style="text-align: center;"> 판매중인 상품이 없습니다. </h3>
            {% endif %}
        </div>
        <hr>
        <div style="text-align: center;">
            <div class="pagination" style="display: flex;">
                <div style="width: 35%; margin: 5px;">
                    {% if product_list.has_previous %}
                        <a class="btn btn-outline-primary btn-sm" href="?page=1">맨 앞으로</a>
                        <a class="btn btn-outline-primary btn-sm" href="?page={{ product_list.previous_page_number }}">이전</a>
                    {% endif %}
                </div>

                <div style="width:30%; margin: 5px;">
                    {% for page in product_list.paginator.page_range %}
                        {% if page >= product_list.number|add:-2 and page <= product_list.number|add:2 %}
                        <span class="btn btn-outline-primary btn-sm {% if page == product_list.number %}current{% endif %}">
                            <a href="?page={{ page }}" style="margin-right: 10px;">{{page}}</a>
                        </span>
                        {% elif page >= product_list.number|add:-3 and page <= product_list.number|add:3 %}
                            ..
                        {% endif %}
                    {% endfor %}
                    </div>
    
                    <div style="width:35%; margin: 5px; text-align: left;">
                    {% if product_list.has_next %}
                        <a class="btn btn-outline-primary btn-sm" href="?page={{ product_list.next_page_number }}">다음</a>
                        <a class="btn btn-outline-primary btn-sm" href="?page={{ product_list.paginator.num_pages }}">맨 뒤로</a>
                    {% endif %}
                    </div>
            </div>

        </div>
    </div>
{% endblock %}