{% extends 'base.html' %}

{% block content %}
<p>{{product.name}}</p>
<p>{{product.writer}}</p>
<p>{{product.marcket}}</p>
<p>{{product.pub_date}}</p>
<p>{{product.price}}</p>
<p>{{product.stock}}</p>
<p>{{product.description}}</p>
{% if product.image %}
    <img src="{{ product.image.url }}" alt="사진" height="300">
{% else %}
    <p>상품 사진이 없습니다.</p>
{% endif %}
<hr>
{% if user == product.writer %}
    <a href="{%url 'main:productEdit' product.id %}" class="btn btn-primary btn-sm">수정하기</a>
    <a href="{%url 'main:productDelete' product.id %}" class="btn btn-primary btn-sm">삭제하기</a>
{% endif %}
<hr>
<h5>QnA</h5>
<form action="{% url 'main:questionCreate' product.id %}" method="post">
    {%csrf_token%}
    <p><textarea type="text" name="content" id="" cols="40" rows="2"></textarea></p>
    <button type="submit" class="btn-primary btn-sm">질문 등록하기</button>
</form>
<hr>
{% for question in questions %}
    <p>{{question.writer}}  |  {{question.content}}  |  
        {% if user == question.writer %}
            <a href="{%url 'main:questionEdit' product.id question.id %}" class="btn btn-primary btn-sm">수정하기</a>
            <a href="{%url 'main:questionDelete' product.id question.id %}" class="btn btn-primary btn-sm">삭제하기</a>
        {% endif %}
    </p>
    {% for answer in answers %}
    <p>{{answer.content}}</p>
    {% endfor %}
    {% if user == product.writer %}
        <form action="{% url 'main:answerCreate' product.id question.id %}" method="post">
            {%csrf_token%}
            <p><textarea type="text" name="content" id="" cols="40" rows="1"></textarea></p>
            <button type="submit" class="btn-primary btn-sm">답변 등록하기</button>
        </form>
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}