{% extends 'base.html' %}

{% block contents %}

    {% if products %}
        <div class="container" style="width:500px">
            <div class="row">
                    {% for product in products %}
                        <div class="col-xs-5 gap-3 border"> 
                            <div class="card">
                                <a href="{% url 'product:detail' product.id %}" style="text-decorations:none; color:inherit;" class="img-fluid">
                                    <div class="card-body">
                                        <img src = "media/{{product.image}}" height="180" width="150">
                                        <p class="text-center">
                                        <strong>
                                            {{product.name}}
                                            <br>
                                            {{product.price}}₩
                                        </strong>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>

    {% else %}
        상품 없음
    {% endif %}
    

{% endblock contents %}