{% extends 'head.html' %}


{% block section %}
<section id="top" class="position-relative">
    <div class="section-content overlay d-flex justify-content-center align-items-center">
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="col-md-8 welcome">
                    <h1 class="welcom-title fw-light" style="font-family: 'Poppins', sans-serif;">welcome to my
                        first website <span class="text-warning fw-bold">MBLY</span></h1>
                    <div class="divider"></div>
                    <div class="row welcome-desc">
                        <p class="col-sm-10 col-md-12 lead" style="font-family: 'Poppins';"> MBLY는 초개인화 알고리즘을 이용한
                            취향추천이 이루어지는 쇼핑메이트 입니다. 여러분의 취향대로 마음껏
                            입어보세요. enjoy shopping enjoy life. </p>
                        <p class="col-sm-2 col-md-12 mt-3">
                            <a href="{% url 'main_page' %}" class="btn btn-warning button">들어가기</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-none d-md-block letsgo" style="padding-right: 3rem;">
                    <div class="card card-body letsgo-card m-1">
                        <div class="letsgo my-1">
                            <h4 class="letsgo-title card-title text-dark mb-1">Easy contact!</h4>
                            <p class="card-text text-secondary"> How can I help?</p>
                        </div>
                        <div class="letsco-card-form">
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Your name">
                                </div>
                                <div class="mb-3">
                                    <input type="tel" class="form-control" placeholder="Your phone">
                                </div>
                                <div class="form-check mb-3">
                                    <input type="text" class="form-check-input" id="flexChechDefault">
                                    <label for="flexChechDefault" class="form-check-label text-secondary">
                                        I agree to provide privacy.
                                    </label>
                                </div>
                                <p class="mb-3">
                                    <button class="btn btn-primary w-100 button" type="button">Submit</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<section id="intro">
    <div class="section-cotent">
        <div class="container intro mb-5">
            <div class="row align-items-center mt-5">
                <div class="col-md-6 intro-second">
                    <br>
                    <h5 class="fw-light">Greetings!</h5>
                    <h1 class="mb-4">Introduce our website.</h1>
                    <div class="intro-text">
                        <p class="lead text_sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
                            fugiat
                            obcaecati illum delectus! Ea, eos quibusdam, excepturi odit nam voluptatibus deserunt
                            iure distinctio praesentium exercitationem animi, voluptatem optio officia voluptatum?
                        </p>
                        <p class="lead text_sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                            reiciendis.
                            Sapiente ad ex quam cumque debitis? Necessitatibus quasi dolor similique?</p>
                    </div>
                </div>
                <div class="col-md-6 intro-first">
                    <div class="row px-md-2">
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                <div
                                    class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none"> 1st mall </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                <div
                                    class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none"> 2nd mall </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                <div
                                    class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none"> 3rd mall </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                <div
                                    class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none"> 4th mall </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="slide1">
    <div class="slide1-header text-center m-4">
        <h1 class="display-5">Our amazing services</h1>

        <div class="divider"></div>
        <p class="lead text-secondary m-2 text_sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quisquam doloribus blanditiis
            quam libero quasi dolore quia laboriosam vel eligendi?
        </p>
    </div>

    <div id="myCarousel" class="carousel slide m-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
                aria-current="true"></button>
        </div>

        <div class="carousel-inner media">
            <div class="carousel-item media">
                <a href="#">
                    <img src="../static/images/slide1.jpg" alt="" class="card-img-top">
                </a>

                <div class="container">
                    <div class="carousel-caption text-start text-light">
                        <h1>Example headline.</h1>
                        <p>Some the carousel.</p>
                        <p><a class="btn btn-lg button" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item media">
                <a href="#">
                    <img src="../static/images/slide2.jpg" alt="" class="card-img-top">
                </a>

                <div class="container">
                    <div class="carousel-caption text-light">
                        <h1>Another example headline.</h1>
                        <p>Some  the carousel.</p>
                        <p><a class="btn btn-lg button" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active media">
                <a href="#">
                    <img src="../static/images/slide3.jpg" alt="" class="card-img-top">
                </a>

                <div class="container">
                    <div class="carousel-caption text-end text-light">
                        <h1>One more for good measure.</h1>
                        <p>Some carousel.</p>
                        <p><a class="btn btn-lg button" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</section>
{% endblock %}