{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row gap-3">
            {% for product in products %}
                    <div class="card" style="width: 18rem;">
                        <img src="https://picsum.photos/id/{{ forloop.counter }}/100/100" class="card-img-top" alt="not found image">
                        <div class="card-body">
                            <a class="card-title text-center" href="{% url 'products:detail' product.pk %}">{{product.name}} / ${{product.price}}</a>
                            <h6 class="card-subtitle mb-2 text-muted text-center">{{ product.market }}</h6>
                        </div>
                    </div>
            {% endfor %}

            <div class="mx-auto text-center">
                {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">
                    <i>이전</i>
                </a>
                {% endif %}
                    <span>
                        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                    </span>
                {% if page_obj.has_next  %}
                    <a href="?page={{page_obj.next_page_number}}">
                        <i>다음</i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock content %}