<nav class="navbar navbar-expand-sm bg-light" style="text-align: center; max-width:500px; margin:4rem auto">
    <ul class="nav navbar-nav navbar-left">
        <li class="nav-item"><a class="nav-link" href="{% url 'core:home' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}"> 로그아웃</a>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">로그인</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'users:signup' %}">회원가입</a></li>
        {% endif %}
    </ul>
</nav>
