{% extends "base.html" %}
{% load static %}
{% block contents %}
<div class="row mt-5">
	<div class="col-12 text-center">
		<h1>멋블리</h1>
	</div>
</div>
<div class="row mt-5">
	<div class="col-12 text-center">
		{{ error }}
	</div>
</div>
<!-- 검색 버튼 -->
<div class="row justify-content-end my-3">
	<div class="col-4 input-group">
		<input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
		</div>
	</div>
</div>
<div class = "row justify-content-center mt-5" >
    <div class = "col justify-content-center">
        {% for product in product_list %}
		<a href="{% url 'mutbly:detail' product.id %}">
		<div class="card" style="width: 100%;">
			<ul class="list-group list-group-flush">
                <img src="{% static product.image  %}" alt="Product Image"></img>
			</ul>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
            </div>
        </div>
		</a>
		{% endfor %}
    </div>
</div>
	<!-- 페이징처리 시작 -->
	<ul class="pagination justify-content-center">
		<!-- 이전페이지 -->
		{% if product_list.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ product_list.previous_page_number }}">이전</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
		</li>
		{% endif %}
		<!-- 페이지리스트 -->
		{% for page_number in product_list.paginator.page_range %}
		{% if page_number >= product_list.number|add:-2 and page_number <= product_list.number|add:2 %}
			{% if page_number == product_list.number %}
			<li class="page-item active" aria-current="page">
				<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
			</li>
			{% else %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
			</li>
			{% endif %}
		{% endif %}
		{% endfor %}
		<!-- 다음페이지 -->
		{% if product_list.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ product_list.next_page_number }}">다음</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
		</li>
		{% endif %}
	</ul>
	<!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'mutbly:index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}
