{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<br>
<br>
<br>
<div class="row">
    <!--  장바구니 칸 시작  -->
    <div class="category_box" style="text-align:center;">
        <p style="padding-top:8px; padding-right:8px;"><b>문의 내용</b></p>
    </div>

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div style="display:flex; margin-top:5px;">
            {% if product.image.url == True %}
            <a href="{{product.get_absolute_url}}"><img class="item_img" src="{{product.image.url}}"></a>
            {% else %}
            <a href="{{product.get_absolute_url}}"><img class="item_img" src="{{product.image_url}}"></a>
            {% endif %}
            <div style="margin-top:10px;">
                <div class="word" style ="padding-left:15px; width:220px; font-size:16px; color:gray;">
                    문의 상품: {{ product }}
                </div>
                <div style="font-size:16px; color:gray; padding-left:15px; padding-top:10px;">
                   가격: {{ product.price|intcomma }} KRW
                </div>
            </div>
        </div>
    </li>
    <div class="card" style="width: 20rem; margin-left:39px; height:auto; margin-top:50px;">
      <div class="card-body" style="margin-bottom:25px; margin-top:20px;">
        <h3 class="card-title">{{question.title}}</h3>
        <div>
            <h6 class="card-subtitle mb-2 text-muted" style="font-size:13px; margin-top:10px;">{{question.user}} | {{question.create_at | date:"Y.m.d"}}</h6>
        </div>
        <div style="margin-top:25px;">
            <p class="card-text">{{question.comment}}</p>
        </div>
      </div>
        {% if question.user == request.user %}
        <div>
            <a href="{% url 'shop:question_modify' question.id %}"><span style="color:grey; font-size:24px;float:right; margin-right:10px; padding-bottom:9px;" class="material-icons-outlined">edit</span></a>
        </div>
        {% endif %}
    </div>
    <div style="text-align: center; margin-top:30px; height:200px;">
        <a href="{{product.get_absolute_url}}"><button type="button" class="btn btn-outline-secondary">돌아가기</button></a>
    </div>
</div>


{% endblock %}