{% extends 'base.html' %}
{% load static %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">상품명</th>
        <th scope="col">색상</th>
        <th scope="col">사이즈</th>
        <th scope="col">수량</th>
    </tr>
    </thead>
    <tbody>
    {% for cart in cart_items %}
    {{ cart.id }}
    <tr id="table_row{{cart.id}}">
        <th id="id">{{ cart.id }}</th>
        <td id="name"><p>{{ cart.product.name }}</td>
        <td id="color">{{ cart.product_option.color }}</td>
        <td id="size">{{ cart.product_option.size }}</td>
        <td id="numberUpDown{{cart.id}}">{{ cart.quantity }}</td>
        <td><input type="button" class="btn btn-success" id="increaseQuantity{{cart.id}}" value="▲">
            <input type="button" class="btn btn-warning" id="decreaseQuantity{{cart.id}}" value="▼">
            <input type="button" class="btn btn-danger" id="change{{cart.id}}" value="적용"></td>
        <td><input type="button" class="btn btn-dark" id="delete{{cart.id}}" value="삭제"></td>
        <td></td>
    </tr>
    {% endfor%}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
// 변경저장
    let change = document.querySelector('#change1');

    change.addEventListener('click', e=> {
        let id = document.querySelector('#id').value;
        let name = document.querySelector('#name').value;
        let color = document.querySelector('#color').value;
        let size = document.querySelector('#size').value;

        let param = {
            'id': id,
            'name' : name,
            'color' : color,
            'size' : size,
                }
            $.ajax({
                url : '{% url 'product:cart_change' %}',
                type : 'POST',
                headers: {
                  'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                data : JSON.stringify(param),
                success:function(data){
                    alert('변경 완료');
                    console.log("data pass success",param);
                },
                error: function(){
                    alert('변경 실패');
                }
            });
        });


//수량변경
{% for cart in cart_items %}
        $('#decreaseQuantity'+{{cart.id}}).click(function(e){

                var stat = $('#numberUpDown'+{{cart.id}}).text();
                var num = parseInt(stat,10);
                num--;
            if(num<=0){
                alert('더이상 줄일수 없습니다.');
                num =1;
            }
        $('#numberUpDown'+{{cart.id}}).text(num);
        });
        $('#increaseQuantity'+{{cart.id}}).click(function(e){
            e.preventDefault();
                var stat = $('#numberUpDown'+{{cart.id}}).text();
                var num = parseInt(stat,10);
                num++;

            if(num>100){
                alert('더이상 늘릴수 없습니다.');
                num=100;
            }
        $('#numberUpDown'+{{cart.id}}).text(num);
        });
 {% endfor%}
//삭제

$(function(){
     $('#delete1').click(function(e){
        e.preventDefault();
        var row = $('#table_row1');
                alert('삭제');
        row.remove();
     });
});

</script>

{% endblock %}

