{% extends 'base/base.html' %}

{% load humanize %}

{% block body %}
<div class="container">
  {% include 'base/navbar.html' %}
    <div class="row mt-5" style="top: 100px;">
        <table class="table mt-5">
            <thead>
            <tr class="text-center">
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% if carts.exists %}
            {% for cart in carts %}
            <tr>
                <th scope="col">
                    <img src="{{ cart.product.product_img }}" style="width:100px; height: 130px;">
                    {{ cart.product.name }}
                </th>
                <th scope="col" class="text-center">{{ cart.quantity }}</th>
                <th scope="col" class="text-center">{{ cart.price_total }}</th>
            </tr>
            {% endfor %}
            {% endif %}
            <tr class="text-center">
                <th scope="col">total</th>
                <th scope="col">:</th>
                <th scope="col">{{ total }}</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}