{% extends 'base/base.html' %}

{% load humanize %}

{% block body %}
<div class="container">
  {% include 'base/navbar.html' %}
    <div class="row mt-5" style="top: 100px;">
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% if carts.exists %}
            {% for cart in carts %}
            <tr>
                <th scope="col">{{ cart.product.name }}</th>
                <th scope="col">{{ cart.quantity }}</th>
                <th scope="col">{{ cart.product.price }}</th>
            </tr>
            {% endfor %}
            <tr>
                <th scope="col">total</th>
                <th scope="col">:</th>
                <th scope="col">{{ total }}</th>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}