{% extends 'base/base.html' %}

{% load humanize %}

{% block body %}

<!--product list-->
<div class="container">

    <!--    navbar-->
    {% include 'base/navbar.html' %}

    <!--    category-->
    {% include 'base/category.html' %}

    <!--    content-->
    <div class="row my-5 text-center">
        {% for product in product_list %}
        <div class="col-md-6 col-lg-3">
            <div class="row">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.product_img }}" class="w-100" style="width: 300px; height:400px;">
                </a>
            </div>
            <div clss="row">
                <h4>{{ product.name }}</h4>
                {% if product.stock > 0 %}
                <p>{{ product.price|intcomma }}</p>
                {% else %}
                <p>품절</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!--paginator-->
    <div class="text-center">
        <ul>
            <!--        이전 페이지-->
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_list_number }}"><-</a>
            <!--        나중에 bootstrap의 disable 기능을 추가-->
            {% endif %}
            <!--        페이지 리스트-->
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
            <a href="?page={{ page_number }}">{{ page_number }}</a>
            {% else %}
            <a href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
            {% endfor %}
            <!--        다음 페이지-->
            {% if page_obj.has_naxt %}
            <a href="?page={{ page_obj.next_page_number }}">-></a>
            {% endif %}
            <!--        페이징 처리 끝-->
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
{% endblock %}
