{% extends 'base.html' %}
{% block content %}
  <form method="POST" id="loginform">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">사용자 ID</label>
      <input name="id" type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">비밀번호</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="loginbtn">로그인</button>
  </form>
  <div class="login_account">
    <div>
      <button class="plainBtn"> 아이디 찾기 </button>
      <span> | </span>
      <button class="plainBtn"> 비밀번호 찾기 </button>
    </div>
    <a href="javascript:kakaoLogin();"> <button id="kakaoBtn"> 카카오 로그인 </button> </a>
  </div>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<body>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  Kakao.init('b8a14b8a382e6d6521860f591f565aed');
  function kakaoLogin() {
    Kakao.Auth.login({
      scope:"profile_nickname, account_email",
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
            const kakao_account = response.kakao_account;
        	  console.log(response)
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
</script>
{% endblock%}