{% extends 'base.html' %}
{% block content %}
<form method='POST'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="UserID" class="form-label">ID</label>
        <input type="text" class="form-control" id="UserID" name="UserID" required>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd" required>
    </div>
    <div class="mb-3">
        <label for="pwdConf" class="form-label">Password Confirm</label>
        <input type="password" class="form-control" id="pwdConf" name="pwdConf" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">가입하기</button>
  </form>
{% endblock %}
