<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{% url 'product:write' product.product_id %}" style="text-align:center">
    {% csrf_token %}
    <input class="form-control m-2" type="text" name='title' placeholder="제목" style="width:80%; margin:auto;" required>
    <textarea class="form-control m-2" rows='3' name='content' placeholder="내용" style="width:80%; margin:auto;" required></textarea>
    <input type="checkbox" name="secret" value=True>비밀글
    <input type="submit" value="등록">
</form>
{{ message }}
<br>
<br>
<ul>
    {% for item in board_list %}
        {% if item.secret %}
            <li> 비밀글입니다. {{ item.user_id }} {{ item.date }}</li>
        {% else %}
            <li>{{ item.title }} {{ item.user_id }} {{ item.date }}</li>
        {% endif %}
    {% endfor %}
</ul>

</body>
</html>