{% extends 'base/base.html' %}

{% block body %}
<div id="register">
    <div class="container">
        <br>
        <h3 class="d-flex justify-content-center text-secondary">Sign Up</h3>
        <div class="form-group col-md">
            <label for="username" class="text-secondary">Username:</label><br>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="form-group col-md">
            <label for="email" class="text-secondary">Email:</label><br>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group col-md">
            <label for="password" class="text-secondary">Password:</label><br>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <br>
        <div class="form-group col-md">
            <div class="row">
                <input type="submit" id="registerButton" class="form-control btn btn-secondary" value="Sign Up">
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<!--회원가입 스크립트-->
<script>
    $(document).ready(function () {
    $('#registerButton').click(function() {
        $.post('/apis/v1/user/create/', {'username': $('#username').val(), 'email': $('#email').val(), 'password': $('#password').val()}, function() {
            alert('회원가입을 축하합니다.');
            window.location.href = {% url 'login' %};
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
});
});
</script>
{% endblock %}