{% comment %} 
<nav class="navbar">
  <ul>

    <li class = "logo"><a class="navbar-brand" href="{% url 'index' %}">Mutbly</a></li>

    {% if user.is_authenticated %}
    <span class = "welcome-message">
      {{user.get_username}}님, 안녕하세요 :) 
    </span>
      <li class = "authentication"><a class="login" href={% url 'logout' %}>로그아웃</a></li>
    {% else %}
      <li class = "authentication"><a class="login" href={% url 'login' %}>로그인</a></li>
      <li class = "authentication"><a class="login" href= {% url 'signup' %}>회원가입/</a></li>
    {% endif %}
    
  </ul>
  
</nav>

<br>
<br>

  <form class ="search" method="POST" action="{% url 'search'%}">
    {% csrf_token %}
    <input class = "search-bar" type="search" placeholder="search" name="searched">
    <button class="search-btn">
      Search
    </button>
  </form> {% endcomment %}


  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      {% if user.is_authenticated %}
      <div>
        <li class = "authentication"><a class="login" style = "font:bold" href={% url 'accounts:logout' %}>로그아웃</a></li>
      </div>
      {% else %}
        <div>
          <li class = "authentication"><a class="login" style = "font:bold"  href={% url 'accounts:login' %}>로그인/ </a></li>
          <li class = "authentication"><a class="login" style = "font:bold"  href= {% url 'accounts:signup' %}>회원가입</a></li>
        </div>
      {% endif %}
        <div>
          <span>
            <a class="navbar-brand" style=" font: italic bold 1.5em/1em Georgia, serif ;" href="{% url 'index' %}"> Qbly </a>
          </span>
          {% if user.is_authenticated %}
          <div>
            <span class = "welcome-message"> {{user.get_username}}님, 안녕하세요😀 </span>
            <!--TODO : MYPAGE로 변경-->
          </div>
        </div>
      {% else %}
        </div>
      {% endif %}
        
        <div class = "nav-right">
        {% if  user.is_authenticated %}
          <a href="{% url 'cart:show_cart' %}" >
            <div class= "cart-group">
              <svg xmlns="http://www.w3.org/2000/svg" id = "cart-icon" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <span class="badge bg-primary rounded-pill">{{in_cart_count}}</span>
            </div>
          </a>
        
        {% else %}
        {% comment %}  {% endcomment %}
        {% endif %}

            {% comment %} <span id="cart-total">0</span> {% endcomment %}
            
        <form class="d-flex" method="POST" action="{% url 'search'%}" id = "search-bar">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>