{%extends 'mutbly/base.html'%}

  {% block content %}
    {% load static%}
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
  
          <a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Continue Shopping</a>
  
          <br>
          <br>
          <table class="table">
            <tr>
              <th><h5>Items: <strong>3</strong></h5></th>
              <th><h5>Total:<strong> $42</strong></h5></th>
              <th>
                <a  style="float:right; margin:5px;" class="btn btn-success" href="#">구입하기</a>
              </th>
            </tr>
          </table>
  
        </div>
  
        <br>
        <div class="box-element">
          <div class="cart-row">

            <div style="flex:0.5"></div>
            <div style="flex:1"><strong>제품명</strong></div>
            <div style="flex:1"><strong>담은수량</strong></div>
            <div style="flex:1"><strong>낱개 가격</strong></div>
            <div style="flex:1"><strong>수량변경</strong></div>
            <div style="flex:1"><strong>수정/삭제</strong></div>
          </div>
          
          
          {% for in_cart_item in in_cart_items %}
          <div class="cart-row">
              <div style="flex:0.5"></div>
              <div style="flex:1" ><p>{{in_cart_item.item.name}}</p></div>
              <div style="flex:1"><p>{{in_cart_item.quantitiy}}</p></div>
              <div style="flex:1">{{in_cart_item.item.price}}</div>
              <div style="flex:1"><input class="quantity" type = "number" value={{in_cart_item.quantity}}></input></div>
              <div style="flex:1"><p></p></div>
              {% comment %} <a href="{% url 'cart:delete_cart' InCartItem.id %}">삭제</a> {% endcomment %}
              
              {% comment %} <div style="flex:1"><p>{{in_cart_item.itemTotalPrice()}}</p></div> {% endcomment %}
              <br/>
              <br/>
          </div>
            {% endfor %}
            
          
        </div>
      </div>
    </div>
  
  

      

    {% endblock content %}
    
  
