{% extends 'base.html' %} 
{% load static %} 
{% load i18n %} 
{% load account socialaccount %}
{% block content %}
<br>
<div class="row justify-content-around">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="card border-info mb-3" style="max-width: 18rem; text-align: center;">
        <div class="card-header"><h3>비밀번호 초기화</h3></div>
        <div class="card-body">
        <!-- <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <p>비밀번호를 잊으셨나요?<br> 아래에 당신의 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다.</p>
            <hr>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-control">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-outline-primary btn-sm"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}