.signup input {
    margin: 10px;
}

.signup button {
    background-color: rgb(243, 128, 214);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    margin-top: 10px;
}

.signup img {
    margin-top: 15px;
}

.signup {
    margin-top: 15px;
}