{% extends 'base.html' %}
{%load static%}
{% block content %}

    <h1>장바구니</h1>
    <div style = "text-align : center;">
        <p>name  size color quantity price</p>
        {% for cart_id,name,size,color,quantity,price in cart_items %}
            <p>{{name}}  {{size}} {{color}}</p>
            <form action="/cart/update/{{cart_id}}/", method="post">
                {% csrf_token %}
                <input type="number" id="quantity" value = {{quantity}} name="quantity" min="1" max="5">
                <input type="submit">
              </form>
            <form action="/cart/delete/{{cart_id}}/">
                {% csrf_token %}
                <input type="submit" value="삭제">
              </form>
        {% endfor%}
    
    </div> <br><br><br><br><br><br>
    
    </body>


    
</html>

{% endblock %}

