{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="clearfix">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="사진" class="col-md-6 float-md-end mb-3 ms-md-3 img-thumbnail shadows" alt="..." style="height: 27rem; object-fit:cover;">
        {% else %}
            <img src="{% static 'images/noImage.png' %}" alt="사진" class="col-md-6 float-md-end mb-3 ms-md-3 img-thumbnail" alt="..." style="height: 27rem; object-fit:cover;">
            
        {% endif %}
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{product.marcket}}</li>
              <li class="list-group-item">가격 : {{product.price}}</li>
              <!-- <li class="list-group-item">재고 : {{product.stock}}</li> -->
              <li class="list-group-item">담은 수 : {{product.cartNum}}</li>
            </ul>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-primary card-link" data-bs-toggle="collapse" href="#buy" role="button" aria-expanded="false" aria-controls="buy">구매하기</a>
                    <a class="btn btn-outline-primary card-link" data-bs-toggle="collapse" href="#addCart" role="button" aria-expanded="false" aria-controls="addCart">장바구니</a>
                    
                {% else %}
                    <p>로그인 후 상품 구매가 가능합니다.</p>
                {% endif %}
                <div class="collapse" id="addCart">
                    <hr>
                    <div class="card card-body" style="text-align: center;">
                        <form action="{% url 'cart:addCart' product.id %}" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col" style="text-align: right;">
                                    <p>수량 : <input type="number" name="amount" style="width: 3rem;" min="0"></p>
                                </div>
                                <div class="col" style="text-align: left;">
                                    <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="collapse" id="buy">
                    <hr>
                    <div class="card card-body">
                      구매하기
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p>
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#detailImage" aria-expanded="false" aria-controls="detailImage">
              상품 상세 정보
            </button>
        </p>
        <div class="collapse" id="detailImage">
            <div class="card card-body shadows" width : 24rem; object-fit:cover;">
                {% if product.detailImage %}
                    <img src="{{ product.detailImage.url }}" alt="사진" alt="...">
                    
                {% else %}
                    <img src="{% static 'images/noImage.png' %}" alt="사진" alt="...">
                {% endif %}
            </div>
        </div>
        <hr>
        {% if user == product.writer %}
            <a href="{%url 'main:productEdit' product.id %}" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{%url 'main:productDelete' product.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
        {% endif %}

    </div>
<hr>

<h5>문의</h5>
<form action="{% url 'main:questionCreate' product.id %}" method="post">
    {%csrf_token%}
    <div class="row">
        <div class="col">
            <p><textarea type="text" name="content" class="form-control" id="exampleFormControlTextarea1" cols="30" rows="2"></textarea></p>
        </div>
        <div class="col">
            <button type="submit" class="btn-primary btn-sm"><i class="fas fa-plus-square"></i></button>
        </div>
    </div>
</form>
<hr>
{% for question in questions %}
    <p>{{question.writer}}  |  {{question.content}}  |  
        {% if user == question.writer %}
            <a href="{%url 'main:questionEdit' product.id question.id %}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{%url 'main:questionDelete' product.id question.id %}" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
        {% endif %}
    </p>
    {% for answer in answers %}
    {% if question == answer.question %}
        <p>{{answer.content}}</p>
    {% endif %}
    {% endfor %}
    {% if user == product.writer %}
        <form action="{% url 'main:answerCreate' product.id question.id %}" method="post">
            {%csrf_token%}
            <div class="row">
                <div class="col"><p><textarea type="text" name="content" class="form-control" id="exampleFormControlTextarea1" cols="30" rows="1"></textarea></p></div>
                <div class="col"><button type="submit" class="btn-outline-primary btn-sm"><i class="fas fa-plus"></i></button></div>
            </div>
        </form>
    {% endif %}
    <hr>
{% endfor %}

{% endblock %}