<!--    category-->
<div class="row mt-3">
    <ul class="nav justify-content-center">
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <br/>
</div>
<hr/>
<div class="row my-3">
    <ul class="nav justify-content-center">
        {% for brand in brands %}
        <li class="nav-item">
            <a class="nav-link" href="{{ brand.get_absolute_url }}">{{ brand.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>