asgiref @ file:///tmp/build/80754af9/asgiref_1625643473416/work
blinker==1.4
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///opt/concourse/worker/volumes/live/3143e751-d0f4-457e-7dc5-b7eaa48a56a8/volume/cryptography_1633520383659/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Django==4.0.2
django-allauth==0.48.0
django-cors-headers==3.11.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.0.0
drf-nested-routers==0.93.4
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
oauthlib @ file:///tmp/build/80754af9/oauthlib_1623060228408/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT==1.7.1
PyMySQL @ file:///opt/concourse/worker/volumes/live/eb05a9b9-e371-45e8-639a-72a3e5477a8b/volume/pymysql_1610482895570/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python3-openid @ file:///tmp/build/80754af9/python3-openid_1614366121783/work
pytz==2021.3
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
sqlparse==0.4.2
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
