{% extends 'base.html' %}
{%load static%}
{% block content %}
<html>
    <head>
        <title>Red Store</title>
        <meta charset="utf-8" />
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
      </head>
    
    <body>
    <div class="top_logo">
      <a class="logo" href="/">
        <img src="{%static 'imgs/logo.png'%}" height="50px">
      </a>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Cart</a></li>
        {% if user.is_authenticated %} <li><a href="accounts/home/logout/">Logout</li>
        {% else %} <li><a href="accounts/home/login/">Login</a></li> {% endif %}
        <li><a href="accounts/home/signup/">Join</a></li>
      </ul>
    </div>

    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <style>
          .searchBox {
            margin: 20px 0;
            padding-left: 60px;
          }
    
          .listBox {
            max-width: 500px;
            padding-left: 60px;
          }
    
          .listInner {
            background-color: #dedede;
            margin: 10px 5px;
            padding: 4px;
          }

          }
    
        </style>
      </head>
    
      <body>
        <div class="searchBox">
          <label>items: <input type="text" id="search" onkeyup="filter()" placeholder="상품을 검색하세요." /></label>
        </div>
    
        <div class="listBox">
            <div class="listInner">
              <span class="first_name">Red Shirt</span>
            </div>
            <div class="listInner">
              <span class="first_name">Red Skirt</span>
            </div>
            <div class="listInner">
              <span class="first_name">Red Dress</span>
            </div>
          </div>
      
          <script>
            function filter() {
              let search = document.getElementById("search").value.toLowerCase();
              let listInner = document.getElementsByClassName("listInner");
      
              for (let i = 0; i < listInner.length; i++) {
                first_name = listInner[i].getElementsByClassName("first_name");
                if (
                  first_name[0].innerHTML.toLowerCase().indexOf(search) != -1
                ) {
                  listInner[i].style.display = "flex"
                } else {
                  listInner[i].style.display = "none"
                }
              }
            }
          </script>
      </body><br><br><br><br><br>

    
    <div style = "text-align : center;">
        <img src="{%static 'imgs/red.jpg'%}" height="400px">
    </div>

    <h1>Red Store</h1>
    <div class="items">
      <a href="redshirt/">
        <img src="{%static 'imgs/red_top.jpg'%}">
        <p>Red Shirt</p>
      </a>
    </div>
    <div class="items">
        <a href="redskirt/">
          <img src="{%static 'imgs/red_skirt.jpg'%}">
          <p>Red Skirt</p>
        </a>
      </div>
    <div class="items">
        <a href="reddress/">
          <img src="{%static 'imgs/red_dress.jpg'%}">
          <p>Red Dress</p>
        </a>
    </div>
    </body>
</html>
{% endblock %}

