<!doctype html>
<html lang="kr">
    <head>
    </head>
    <body>
         <form method="POST" action="{% url 'signup'%}">
             {% csrf_token %}
             <h1>회원가입</h1>
             <input name="username" type="username" placeholder="아이디" required value="">
             <input name="password1" type="password" placeholder="사용하실 비밀번호를 입력하시오" required value="">
             <input name="password2" type="password" placeholder="비밀번호를 다시 한번 입력하시오" required value="">
             <input name="email" type="email" placeholder="이메일" required value="">
{#             <input name="phone" type="phone" placeholder="핸드폰 번호" required value="">#}
             <div>
                <input type="submit" value="signup" >
             </div>

        </form>
    </body>
</html>

