<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <title>MBLY</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0 shadow-lg sticky-top">
        <div class="container">
            <a href="#" class="navbar-brand align-middle">
                <h3 class="m-0">
                    <img src="../assets/images/logo.png" alt="Logo" height="36px">
                </h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block sidebar %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#top" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#intro" class="nav-link">
                            Describe
                        </a>
                    </li>                          
                    <li class="nav-item">
                        <a href="#slide1" class="nav-link">
                            Gallery
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#cta" class="nav-link">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
    
    {% block section %}
    <section id="top" class="position-relative">
        <div class="section-content overlay d-flex justify-content-center align-items-center">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="col-md-9 welcome">
                        <h1 class="welcom-title fw-light" style="font-family: 'Poppins', sans-serif;">welcome to my
                            first website <span class="text-warning fw-bold">MBLY</span></h1>
                        <div class="divider"></div>
                        <div class="row welcome-desc">
                            <p class="col-sm-10 col-md-12 lead" style="font-family: 'Poppins';"> MBLY는 초개인화 알고리즘을 이용한
                                취향추천이 이루어지는 쇼핑메이트 입니다. 여러분의 취향대로 마음껏
                                입어보세요. enjoy shopping enjoy life. </p>
                            <p class="col-sm-2 col-md-12 mt-3">
                                <a href="#" class="btn btn-warning button">들어가기</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 d-none d-md-block letsgo">
                        <div class="card card-body letsgo-card">
                            <div class="letsgo my-1">
                                <h4 class="letsgo-title card-title text-dark mb-1">Easy contact!</h4>
                                <p class="card-text text-secondary"> How can I help?</p>
                            </div>
                            <div class="letsco-card-form">
                                <form>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="mb-3">
                                        <input type="tel" class="form-control" placeholder="Your phone">
                                    </div>
                                    <div class="form-check mb-3">
                                        <input type="text" class="form-check-input" id="flexChechDefault">
                                        <label for="flexChechDefault" class="form-check-label text-secondary">
                                            I agree to provide privacy.
                                        </label>
                                    </div>
                                    <p class="mb-3">
                                        <button class="btn btn-primary w-100 button" type="button">Submit</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section id="intro">
        <div class="section-cotent">
            <div class="container intro mb-5">
                <div class="row align-items-center mt-5">
                    <div class="col-md-6 intro-second">
                        <br>
                        <h5 class="fw-light">Greetings!</h5>
                        <h1 class="mb-4">Introduce our website.</h1>
                        <div class="intro-text">
                            <p class="lead text_sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores fugiat
                                obcaecati illum delectus! Ea, eos quibusdam, excepturi odit nam voluptatibus deserunt
                                iure distinctio praesentium exercitationem animi, voluptatem optio officia voluptatum?
                            </p>
                            <p class="lead text_sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, reiciendis.
                                Sapiente ad ex quam cumque debitis? Necessitatibus quasi dolor similique?</p>
                        </div>
                    </div>
                    <div class="col-md-6 intro-first">
                        <div class="row px-md-2">
                            <div class="col-6">
                                <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                    <div
                                        class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                        <h3 class="fw-light">
                                            <a href="#" class="link-light text-decoration-none"> 1st mall </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                    <div
                                        class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                        <h3 class="fw-light">
                                            <a href="#" class="link-light text-decoration-none"> 2nd mall </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                    <div
                                        class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                        <h3 class="fw-light">
                                            <a href="#" class="link-light text-decoration-none"> 3rd mall </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card card-body my-3 position-relative rounded-3 intro-first-card">
                                    <div
                                        class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                        <h3 class="fw-light">
                                            <a href="#" class="link-light text-decoration-none"> 4th mall </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section id="slide1">
        <div class="slide1-header text-center m-4">
            <h1 class="display-5">Our amazing services</h1>

            <div class="divider"></div>
            <p class="lead text-secondary m-2 text_sm">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quisquam doloribus blanditiis
                quam libero quasi dolore quia laboriosam vel eligendi?
            </p>
        </div>

        <div id="myCarousel" class="carousel slide m-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class="active" aria-current="true"></button>
            </div>

            <div class="carousel-inner media">
                <div class="carousel-item media">
                    <a href="#">
                        <img src="../assets/images/slide1.jpg" alt="" class="card-img-top">
                    </a>

                    <div class="container">
                        <div class="carousel-caption text-start text-dark">
                            <h1>Example headline.</h1>
                            <p>Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg button"
                                    href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item media">
                    <a href="#">
                        <img src="../assets/images/slide2.jpg" alt="" class="card-img-top">
                    </a>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg button"
                                    href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active media">
                    <a href="#">
                        <img src="../assets/images/slide3.jpg" alt="" class="card-img-top">
                    </a>

                    <div class="container">
                        <div class="carousel-caption text-end text-light">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg button"
                                    href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </section>
    {% endblock %}

    <footer class="py-2 bg-dark">
        <div class="container">
            <p class="float-end text-light"><a href="#top" class="text-light">Back to top</a></p>
            <p class="text-light">© 2022 Company, Inc. · <a href="#" class="text-light">Privacy</a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"
        integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>