{% extends "index.html" %}

{% block sidebar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'main_page' %}" class="nav-link">
            Shops
        </a>
    </li>

    <li class="nav-item">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (logout)</a>
        {% else %}
        <a class="nav-link" href="{% url 'login_page' %}">
            Login
        </a>
        {% endif %}
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            Cart
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            My page
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">좋아요</a></li>
            <li><a class="dropdown-item" href="#">즐겨찾기</a></li>
            <li><a class="dropdown-item" href="#">질문</a></li>
        </ul>
    </li>
    
    <li class="nav-item">
        <a  href="{% url 'board_page' %}" class="nav-link">
            Question
        </a>
    </li>

</ul>
{% endblock %}


{% block section %}
<section id="shops">
    <div class="container-fluid">
        <div class="row">
        </div>

        <div class="m-2">
            <div class="row">
                {% for mall_list in mlists %}
                <div class="col-4 col-md-3 col-lg-2">
                    <div class="card my-3 position-relative rounded-3 shops-first-card">
                        <img src="{{ mall_list.img_url }}" class="card-img-top embed-responsive-item" alt="img">

                        <h4 class="fas fa-external-link-square-alt fa-sm m-2 mt-3 mb-3">
                            <a id="shopname" href="{% url 'shop' id=mall_list.id %}" class="card-title text-decoration-none"
                                style="color: black;"> {{ mall_list.shop }}</a>
                        </h4>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>

<section id="items">
</section>



<section id="event" style="height: 22vh;">
    <div class="row m-2">
        <div class="col-md-10 col-sm-12">
            <form class="d-flex m-2">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
        </div>
    </div>

</section>
{% endblock %}

<!-- 
<div class="card-text mx-3 position-relative">
    <button class="shop_btn mb-2" data-toggle="collapse fa fa-fire" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample"> Info </button>
</div>

<div class="collapse" id="collapseExample">
    <div class="card-block m-2">
        {{ mall_list.description }}
    </div>
</div> -->