{% extends 'base.html' %}

{% block content %}
    <ul>
        <h1>{{onepiece.name}}</h1>
        <h2>{{onepiece.description}}</h2>
        <h2>가격:{{onepiece.price}}</h2>
        <div>
            <label for="color">컬러</label>
            <select>
                {% for color in onepiece.colors.all %}
                    <option>{{color}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="size">사이즈</label>
            <select id="size">
                {% for size in onepiece.size_onepiece.all %}
                    <option>{{size}}</option>
                {% endfor %}
            </select>
        </div>
    </ul>

{% endblock content %}