



{% extends 'base.html' %}

{% block content %}
<!-- content 블록 정의 -->
<div id = 'content'>
    {% if object %}
    <h2>{{ object.name }}</h2>
    <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 border bg-light">
               <img src = "{{ object.image.url }}" width="400px">
           </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"> 상품명 : {{ object.name }}</div>
            <div class="p-3 border bg-light"> 가격 : {{ object.price }}</div>
            <div class="p-3 border bg-light"> 재고 : {{ object.stock }}</div>
            <div class="p-3 border bg-light"> 설명 : {{ object.description }}</div>
            <div class="p-3 border bg-light"> 등록일 : {{ object.registration_date }}</div>
          </div>
        </div>
      </div>
      {% block question_list %}
      {% endblock question_list %}
    {% else %}
    <h1>상품이 없습니다.</h1>
    {% endif %}

</div> 
{% endblock content %}